.count {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 0.5rem;
  border-bottom: 1px solid #4ea8de;
}

.count > * {
  /* border: 1px solid yellow; */
  padding: 0.5rem;
}

.count span {
  padding: 0.5rem;
  color: #4ea8de;
  /* background-color: whitesmoke; */
  color: violet;
  border-radius: 10px;
}
